doctype html
html(lang='es')
    head
        title Interroga2
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='Shortcut Icon' type='image/x-icon' href='/assets/icons/book.ico')
        script(src='/js/sweet-alert.min.js')
        link(rel='stylesheet' href='/css/sweet-alert.css')
        link(rel='stylesheet' href='/css/material-design-iconic-font.min.css')
        link(rel='stylesheet' href='/css/normalize.css')
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/jquery.mCustomScrollbar.css')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='stylesheet' href='/css/login.css')
        script(src='/js/jquery-1.11.2.min.js')
        script(src='/js/modernizr.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/jquery.mCustomScrollbar.concat.min.js')
        script(src='/js/main.js')
        script(src='/js/modificar_tema.js')
    body
        div.navbar-lateral.full-reset
          div.visible-xs.font-movile-menu.mobile-menu-button
      
          div.full-reset.container-menu-movile.custom-scroll-containers
            div.logo.full-reset.all-tittles Administrador
              i.visible-xs.zmdi.zmdi-close.pull-left.mobile-menu-button(style='line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;')
        
            div.full-reset(style='background-color:#2B3D51; padding: 10px 0; color:#fff;')
              figure
                img.img-responsive.center-box(src='/assets/img/logo.png', alt='Biblioteca', style='width:55%;')
                p.text-center(style='padding-top: 15px;') Interroga2
            div.full-reset.nav-lateral-list-menu
              ul.list-unstyled
                li
                  a(href='/administrador/partida')
                    i.zmdi.zmdi-assignment-o.zmdi-hc-fw
                    span &nbsp; &nbsp;A&ntilde;adir Partida
                li
                  a(href='/administrador/aniadir_tema')
                    i.zmdi.zmdi-assignment-o.zmdi-hc-fw
                    span &nbsp; &nbsp;A&ntilde;adir Temas
                li
                  a(href='/administrador/aniadir_pregunta')
                    i.zmdi.zmdi-assignment-o.zmdi-hc-fw
                    span &nbsp; &nbsp;A&ntilde;adir Preguntas
        
        
        div(class="content-page-container full-reset custom-scroll-containers")
            nav(class="navbar-user-top full-reset")
                ul(class="list-unstyled full-reset")
                    figure
                      img.img-responsive.img-circle.center-box(src='/assets/img/user01.png', alt='user-picture')
                    li(style='color:#fff; cursor:default;')
                      span.all-tittles Hola #{nombre}
                    li(class="tooltips-general exit-system-button" data-href="/" data-placement="bottom" title="Salir del sistema")
                      i(class="zmdi zmdi-power")
                    li(class="tooltips-general redirec-system-button" data-href="/administrador/modificar" data-placement="bottom" title="Configurar Cuenta")
                        i(class="zmdi zmdi-wrench zmdi-hc-fw")
                    li(class="tooltips-general btn-help" data-placement="bottom" title="Ayuda")
                      i(class="zmdi zmdi-help-outline zmdi-hc-fw")
                    li(class="mobile-menu-button visible-xs" style="float: left !important;")
                      i(class="zmdi zmdi-menu")
            div(class="container-fluid")
            div(class="container-flat-form")
                div(class="title-flat-form title-flat-blue") Añadir Tema
                form(autocomplete="off" action='/administrador/aniadir_tema' method='post' id='formValidate3')
                    div(class="row")
                       div(class="col-xs-12 col-sm-8 col-sm-offset-2")
                           div(class="group-material")
                                input(data-error=".errorTxt1" name='tema' type="text" class="material-control" placeholder="Escribe aquí el tema" required="" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" maxlength="50"  title="")
                                div(class="errorTxt1")
                                span(class="highlight")
                                span(class="bar")
                                label Nombre tema                    
                            center
                                p(class='text-danger bg-danger')= error
                           p(class="text-center")
                                button(value="excluir" type="submit" class="btn btn-primary")
                                    i(class="zmdi zmdi-floppy")
                                    span &nbsp;&nbsp; Añadir Tema
                                br
                                br 
                    //tabla de temas
                div.container-fluid
                    h2.text-center.all-tittles Lista de temas a&#241;adidos
                  
                    div.table-responsive
                      div.div-table(style='margin:0 !important;')
                        div.div-table-row.div-table-row-list(style='background-color:#DFF0D8; font-weight:bold;')
                          div.div-table-cell(style='width: 6%;') #
                                          
                          div.div-table-cell(style='width: 22%;') Nombre Temas                                        
                                                           
                          div.div-table-cell(style='width: 8%;') Modificar
                -index=0
                each i in lista
                    -index=index+1
                    div.table-responsive
                      div.div-table(style='margin:0 !important;')
                        div.div-table-row.div-table-row-list
                            div.div-table-cell(id="idtema" style='width: 6%;')= index
                            div.div-table-cell(id=i.idtema style='width: 22%;' )= i.nombretema
                            div.div-table-cell(style='width: 8%;')
                                button.btn.btn-info(id="botonMod" type="submit" value=i.idtema)
                                    i.zmdi.zmdi-file-text

            footer(class="footer full-reset")
                div(class="container-fluid")
                    div(class="row")
                        div(class="col-xs-12 col-sm-6")
                            h4(class="all-tittles") Acerca de
                            p Interroga2, juego de preguntas.                        
                        div(class="col-xs-12 col-sm-6")
                            h4(class="all-tittles") Desarrolladores
                            ul(class="list-unstyled")
                                li
                                    i(class="zmdi zmdi-check zmdi-hc-fw")
                                    span &nbsp;Elvis Basilio &nbsp; 
                                    i(class="zmdi zmdi-check zmdi-hc-fw")
                                    span &nbsp;Carlos Llanos &nbsp; 
                                    i(class="zmdi zmdi-check zmdi-hc-fw")
                                    span &nbsp;Carlos Condori &nbsp; 
                div(class="footer-copyright full-reset all-tittles") 2016 Interroga2
            
            script(src='/js/jquery.validate.min.js')
            script(src='/js/additional-methods.min.js')
            script(src='/js/messages_es.js')
            script(src='/js/formValidate.js')  
